{% extends 'layout.twig' %}

{% block content %}
    {% block source %}
        <a class="source" title="View sources" href="{{ source_url(element) }}">[src]</a>
    {% endblock %}
    {% block name %}
        <h1>{{ breadcrumb(type_tree) }}<a class="{{ type }}" href="">{{ element.name }}</a></h1>
    {% endblock %}

    {% block short_description %}
        {{ short_description(element) }}
    {% endblock %}

    {% block definition %}{% endblock %}

    {% block documentation %}
        {% set longdesc = long_description(element) %}
        {% if longdesc is not empty %}
            <h2>Documentation</h2>
            {{ longdesc }} {# TODO markdown render #}
        {% endif %}
    {% endblock %}

    {% block extra %}{% endblock %}
{% endblock %}
