{% extends 'layout.twig' %}

{% block content %}
    {% block title %}
        <h1>{{ breadcrumb(type_tree) }}<a class="{{ type }}" href="">{{ element.name }}</a></h1>
    {% endblock %}

    {% block short_description %}
        {{ short_description(element.attrs.doc) }}
    {% endblock %}

    {% block definition %}{% endblock %}

    {% block docs %}
        {% if element.attrs.doc is not empty %}
            <h2>Documentation</h2>
            {{ long_description(element.attrs.doc) }} {# TODO markdown render #}
        {% endif %}
    {% endblock %}
{% endblock %}
