<html>
<head>
    <title>Rust Docs</title> {# TODO #}

    <link rel="stylesheet" type="text/css" href="{{ root_path }}main.css">

    {# TODO #}
    <link rel="canonical" href="{{ path_to_current_version_page }}" />
</head>
<body>

<div class="sidebar">
    <div class="block {{ type }}">
        <h2>{{ (type ~ 's')|trans }}</h2>
        {% for id, name in type_tree[type ~ 's'] %}
            <a{% if name == element.name %} class="current"{% endif %} href="{{ url_to_element(id, type_tree) }}">{{ name }}</a><br />
        {% endfor %}
    </div>
</div>

<div>
{% block content %}
{% endblock %}
</div>

</body>
</html>
