{% extends 'element.twig' %}

{% block name %}
    <h1>{% if type_tree.parent %}{{ breadcrumb(type_tree.parent, type_tree) }}{% endif %}<a class="{{ type }}" href="">{{ element.name }}</a></h1>
{% endblock %}

{% block extra %}
    {% for type in ['mod', 'struct', 'enum', 'trait', 'typedef', 'fn', 'reexport'] %}
        {% if type_tree[type ~ 's'] is not empty %}
            <h2>{{ (type ~ 's')|trans }}</h2>
            {% for id, name in type_tree[type ~ 's'] %}
                {{ link_to_element(id, type_tree) }}<br />
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block documentation %}{% endblock %}
