{% extends 'element.twig' %}

{% block definition %}
    <h2>Definition</h2>

    <pre class="{{ type }}">
trait {{ element.name }}{% if element.parents is not empty %}: {% for parent in element.parents %}{{ parent.path }}{# TODO enable once ids are fixed: {{ link_to_element(parent.id, type_tree) }}#}{% if not loop.last %} + {% endif %}{% endfor %}{% endif %} {
{% for method in element.required_methods %}
    {{ render_fn(method, type_tree, "traitfn") }};
{% endfor %}
{% if element.default_methods is not empty and element.required_methods is not empty %}

{% endif %}
{% for method in element.default_methods %}
    {{ render_fn(method, type_tree, "traitfn") }} { <a title="View sources" href="{{ source_url(method, crate) }}">...</a> }
{% endfor %}
}
</pre>
{% endblock %}

{% block extra %}
    {# TODO show inherit methods? #}
    {% if element.required_methods is not empty %}
    <h2>Required Methods</h2>
    <table>
        {% for method in element.required_methods %}
            <tr>
                <td>{{ method.name }}</td>
                <td>{{ extract_docs(method) }}</td> {# TODO markdown #}
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if element.default_methods is not empty %}
    <h2>Provided Methods</h2>
    <table>
        {% for method in element.default_methods %}
            <tr>
                <td>{{ method.name }}</td>
                <td>{{ extract_docs(method) }}</td> {# TODO markdown #}
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
