{% extends 'element.twig' %}

{% block definition %}
    <h2>Definition</h2>

    {% set required_methods = extract_required_methods(element) %}
    {% set provided_methods = extract_provided_methods(element) %}

<pre class="{{ type }}">
trait {{ element.name }}{{ render_generics(element, type_tree) }}{% if element.inner.fields[0].parents is not empty %}: {% for parent in element.inner.fields[0].parents %}{{ short_type(parent, type_tree) }}{% if not loop.last %} + {% endif %}{% endfor %}{% endif %} {
{% for method in required_methods %}
    {{ render_fn(method, type_tree, "TraitFunction") }};
{% endfor %}
{% if provided_methods is not empty and required_methods is not empty %}

{% endif %}
{% for method in provided_methods %}
    {{ render_fn(method, type_tree, "TraitFunction") }} { <a title="View sources" href="{{ source_url(method, crate) }}">...</a> }
{% endfor %}
}
</pre>
{% endblock %}

{% block extra %}
    {# TODO show inherited methods? #}
    {% if required_methods is not empty %}
    <h2>Required Methods</h2>
    <table>
        {% for method in required_methods %}
            <tr>
                <td>{{ method.name }}</td>
                <td>{{ extract_docs(method) }}</td> {# TODO markdown #}
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if provided_methods is not empty %}
    <h2>Provided Methods</h2>
    <table>
        {% for method in provided_methods %}
            <tr>
                <td>{{ method.name }}</td>
                <td>{{ extract_docs(method) }}</td> {# TODO markdown #}
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
